<h1>DATA WRANGLING: Leer los set de datos w_data.csv y p_data.csv, fusionarlos a partir de la variable que tengan en común (ID)y realizar las siguientes ejercicios:</h1>

Importar pandas

In [15]:
import pandas as pd

Leer ambos archivos indicando el separador ;

In [16]:
df_pdata=pd.read_csv('p_data.csv', sep=';')
df_pdata.head()

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife

In [17]:
df_wdata = pd.read_csv('w_data.csv', sep=';')
df_wdata.head()

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K

Hago el merge por la columna ID
<h2>1- Cuantos ID tienen en común. Nombrar cuales no tienen en común</h2>

In [18]:
df_merged = pd.merge(df_pdata, df_wdata, on='ID')
df_merged.head()

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,Target
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family,State-gov,77516.0,2174.0,0.0,40.0,<=50K
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband,Self-emp-not-inc,83311.0,0.0,0.0,13.0,<=50K
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family,Private,215646.0,0.0,0.0,40.0,<=50K
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband,Private,234721.0,0.0,0.0,40.0,<=50K
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife,Private,338409.0,0.0,0.0,40.0,<=50K

Despues del merge verifico el shape.

In [19]:
df_merged.shape

(48842, 15)

Busco duplicados

In [20]:
df_drop = df_merged.drop_duplicates(keep=False)
df_drop.shape

(48842, 15)

Busco valores NaN y encuentro solo uno

In [21]:
df_merged['Target'].isnull().sum()

1

Elimino NaN

In [22]:
df_merged=df_merged.dropna()

Vuelvo a verificar la forma y compruebo que solo uno fue eliminado.

In [23]:
df_merged.shape

(48841, 15)

<h2>2- Corregir los target a solo dos valores distintos ‘<=50k’ y ‘>50k’</h2>
Hago un groupby para ver que tipos de valores hay en Target y veo que algunos valores terminan en . (punto) lo cual las hace valores distintos.

In [24]:
df_merged.groupby(['Sex','Target']).Sex.count()

Sex      Target
 Female   <=50K      9592
          <=50K.     4831
          >50K       1179
          >50K.       590
 Male     <=50K     15128
          <=50K.     7604
          >50K       6662
          >50K.      3255
Name: Sex, dtype: int64

Transformo el Target a string y arreglo los valores

In [25]:
df_merged['Target']=df_merged['Target'].astype(str)
df_merged['Target']=df_merged.Target.str.replace('<=50K.','<=50K')
df_merged['Target']=df_merged.Target.str.replace('>50K.','>50K')

<ipython-input-25-08959400a9f6>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_merged['Target']=df_merged.Target.str.replace('<=50K.','<=50K')
<ipython-input-25-08959400a9f6>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_merged['Target']=df_merged.Target.str.replace('>50K.','>50K')

<h2>3- Calcular la proporción que hay entre personas con salarios >50k respecto del total para 
Entre personas de distinto sexo, Raza y Educacion. Por ejemplo cuál es el porcentaje de mujeres con un salario mayor a 50K y compararlo con el de los hombres. Lo mismo para personas de distintas razas y Educación
</h2>

In [26]:
df_merged.groupby(['Sex','Target']).Sex.count()

Sex      Target
 Female   <=50K    14423
          >50K      1769
 Male     <=50K    22732
          >50K      9917
Name: Sex, dtype: int64

In [27]:
df_merged.groupby(['Race','Target']).Race.count()

Race                 Target
 Amer-Indian-Eskimo   <=50K      415
                      >50K        55
 Asian-Pac-Islander   <=50K     1110
                      >50K       409
 Black                <=50K     4119
                      >50K       566
 Other                <=50K      356
                      >50K        50
 White                <=50K    31155
                      >50K     10606
Name: Race, dtype: int64

In [28]:
df_merged.groupby(['Education','Target']).Education.count()

Education      Target
 10th           <=50K     1302
                >50K        87
 11th           <=50K     1720
                >50K        92
 12th           <=50K      609
                >50K        48
 1st-4th        <=50K      239
                >50K         8
 5th-6th        <=50K      482
                >50K        27
 7th-8th        <=50K      893
                >50K        62
 9th            <=50K      715
                >50K        41
 Assoc-acdm     <=50K     1188
                >50K       413
 Assoc-voc      <=50K     1539
                >50K       522
 Bachelors      <=50K     4712
                >50K      3312
 Doctorate      <=50K      163
                >50K       431
 HS-grad        <=50K    13281
                >50K      2503
 Masters        <=50K     1198
                >50K      1459
 Preschool      <=50K       82
                >50K         1
 Prof-school    <=50K      217
                >50K       617
 Some-college   <=50K     8815
                >50K      2063
Name: Education, dtype: int64